.Wlcm {
    font-size: 40px;
    color: #3D5CDC;
    font-weight: 700;
}

.Wlcm:hover {
    color: white;
    cursor: default;
}

.prfsc {
    font-size: 80px;
    font-weight: 800;
}

.prfsc:hover {
    color: #3D5CDC;
    cursor: default;
}